@import "./font-awesome/fontawesome";
@import "./font-awesome/solid";

.container{
    max-width: 1100px;
    margin: 0 auto;

    &.blockUi{
        opacity: 0.7;
        pointer-events: none;
    }

    .no-result{
        text-align: center;
        width: 35%;
        margin: 30px auto;
        background: #e2e3e5;
        color: #383d41;
        padding: 15px;
        border-radius: 5px;
    }
    

    @import "./partials/post";
    @import "./partials/filter";
}