.news-filter{
    display: flex;
    padding: 15px 0;
    max-width: 800px;
    margin: 0 auto;
    justify-content: space-around;

    & > div{
        text-align: center;

        & > *{
            outline: none;
        }
    }

    .search{
        input[type=text]{
            display: block;
            width: 100%;
            height: calc(2rem + 2px);
            padding: 0px 20px;
            font-size: 12px;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            outline: none;

        }
    }

    select{
        height: calc(1.5125rem + 2px);
        padding: .15rem .12rem;
        font-size: .675rem;
        line-height: 1.5;
        border-radius: .2rem;
    }

    .sort-by:before,
    .sort-order:before{
        display: block;
        margin-top: -10px;
        font-size: 15px;
        padding-bottom: 3px;
    }

    .sort-by{
        select{
            min-width: 13.5em;
        }

        &:before{
            content: 'Критерий сортировки:';
        }

    }

    .sort-order:before{
        content: 'Сортировка по:';
    }



}