.post{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    max-width: 700px;
    margin: 0 auto 20px;

    .back i{
        color: #004085;
        padding: 8px 15px 0;
        font-size: 22px;
        cursor: pointer;
    }

    &:hover{
        box-shadow: 0 1px 1px rgba(0,0,0,.65);
    }

    .post-header{
            padding: 10px 10px 0 10px;

        span{
            font-size: 16px;
            padding: 5px;
            font-weight: bold;
        }
    }

    .post-body{
        padding: 0 15px;
        margin: 5px 0;

        p{
            margin: 0;
        }
    }

    .post-footer{
        display: flex;
        justify-content: space-between;
        padding: 0 15px 10px;

        & > span{
            flex-basis: 60%;
            font-size: 14px;
        }

        & > a{
            display: inline-block;
            padding: .25em .4em;
            font-size: 75%;
            font-weight: 700;
            line-height: 1.5;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            border-radius: .25rem;
            color: #fff;
            background-color: #007bff;
            text-decoration: none;
        }

        .rating{
            flex-basis: 21%;

            button{
                padding: 0px 4px 9px 4px;
                color: #fff;
                border-radius: 50%;
                font-weight: bold;
                display: inline-block;
                height: 22px;
                text-align: center;
                font-size: 16px;
                outline: none;
                cursor: pointer;

                &:nth-of-type(1){
                    background: #0c5460;
                }      
                &:nth-of-type(2){
                    background: #721c24;
                    margin-left: 3px;
                }      
             }
        }
    }

    .post-comments{
        padding: 0 10px 10px;

        h4{
            margin: 0 0 10px 0;
        }

        .comment{
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 4px;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            border-color: #ddd;

            .comment-header{
                    padding: 10px 15px;
                    border-bottom: 1px solid transparent;
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    color: #333;
                    background-color: #f5f5f5;
                    border-color: #ddd;
            }

            .comment-body{
                padding: 15px;
            }
        }
   }

}